@import "src/scss/settings/colors";

.header__nav{
  width: 40vw;
  .nav--top{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 26px 0;
    li{
      padding-left: 36px;
      a{
        color: $color-description;
        text-decoration: none;
        padding: 9px 10px;
        &:hover{
          border: 0.75px solid $color-main;
        }
      }
    }
  }
  .nav--bottom{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    li {
      padding: 9px 20px;
      &:hover{
        border: 0.75px solid $color-text;
      }
    }
  }
}