@import "../settings/colors";

.header__info {
  width: 40vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .info--title {
    text-align: center;
    font-size: 38px;
  }

  .info--decoration {
    margin-top: 2em;
  }

  .info--buttons {
    div {
      width: 9em;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.75px solid $color-text;
      margin: 0.5em;
      color: $color-text;
    }

    a {
      text-decoration: none;
    }
  }
  .info--subtitle {
    margin: 19px;
    font-size: 40px;
    font-weight: lighter;
  }
  .info--steps {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 85%;
    .info--step {
      width: calc(95px * 1.414);
      height: calc(95px * 1.414);
      border: 1px solid $color-text;
      transform: rotate(45deg);
      display: flex;
      justify-content: center;
      align-items: center;
      .step--text {
        font-size: 22px;
        transform: rotate(-45deg);
        text-align: center;
        padding-bottom: 10px;
        p{
          font-size: 32px;
        }
      }
    }
  }
}


.info--buttons {
  font-size: 36px;
  margin-top: 2em;
  display: flex;
  text-align: center;
  border: none;
}