@import "../settings/colors";

.page__whoWeHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section__title{
    font-size: 38px;
    padding: 25px;
    margin-top: 45px;
  }
  .button__container{
    display: flex;
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      width: 208px;
      height: 79px;
      text-align: center;
      margin: 60px 100px;
      border: 0.75px solid rgba(0,0,0,0);
    }
    .button:hover {
      border: 0.75px solid $color-text;
    }
    .active {
      border: 0.75px solid $color-text;
    }
  }

}